# --- TELEGRAM SETTINGS ---
# Токен вашего бота от @BotFather
TELEGRAM_BOT_TOKEN=your_bot_token_here

# ID чата или группы, куда слать уведомления
# Чтобы узнать ID, отправьте любое сообщение боту и перейдите по:
# https://api.telegram.org/bot<ВАШ_ТОКЕН>/getUpdates
TELEGRAM_CHAT_ID=your_chat_id_here

# --- GITLAB SETTINGS ---
# Секретный токен для проверки. Придумайте любой (например, "MySecretBot123") 
# и впишите его в это поле И в поле "Secret token" в настройках GitLab.
GITLAB_SECRET_TOKEN=my_super_secret_token

# --- APP SETTINGS ---
# Каталог для "сбора" (сохранения) всех вебхуков в JSON файлы
DATA_DIR=data/webhooks
APP_HOST=0.0.0.0
APP_PORT=8000
